* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.aboutMeContainer {
  margin: 15px;
  margin-right: 15px;
  display: flex;
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.aboutMeItem {
  background: white;
  padding: 5px;
  width: 20%;
  height: auto;
  margin-top: 10px;
  color: grey;
  font-weight: normal;
  font-size: 1em;
  text-align: justify;
}
