* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*
The burger menu was originally greated by Leif Rikshiem
https: //codepen.io/leifriksheim/pen/QMmXjN
I modified the colours and sizing to fit the page
*/

.burger-wrapper {
  cursor: pointer;
}

#meny {
  background: #333;
  width: 22rem;
  height: 40vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateX(50rem);
  top: 0;
  z-index: 1;
  transition: 0.5s;
}

#menyAvPaa {
  display: none;
}

#menyAvPaa:checked~#meny {
  transform: translateX(0rem);
}

#burger {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger>div {
  height: 2px;
  background-color: #000;
  transition: 0.5s;
  z-index: 999;
}

#menyAvPaa:checked~#burger>div {
  background-color: #fff;
}

#menyAvPaa:checked~#burger>div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}

#menyAvPaa:checked~#burger>div:nth-child(2) {
  opacity: 0;
}

#menyAvPaa:checked~#burger>div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}

#nav-list a {
  font-size: 32px;
  color: white;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin: 20px;
}

/* Header 1 styling, used for my name */
h1 {
  font-size: 70px;
  color: #495057;
  font-weight: 900;
  text-align: center;
  z-index: 10000;
}

/* Header 2 styling, used throughout as section headers */
h2 {
  font-size: 32px;
  color: #495057;
  font-weight: 900;
  text-align: center;
}

body {
  padding: 0;
  height: 100%;
}

/* Full about container, full page width flex */
.aboutMeContainer {
  margin: 15px;
  margin-right: 15px;
  display: flex;
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* aboutMeItem is each column */
.aboutMeItem {
  background: white;
  padding: 5px;
  width: 20%;
  height: auto;
  margin-top: 10px;
  color: grey;
  font-weight: normal;
  font-size: 1em;
  text-align: justify;
}

/* aboutMeItem(2) is the actually centered text, which is expaned out */
.aboutMeItem:nth-of-type(2) {
  width: 40%;
}

/* Sets properites for screens below 600pc */
@media screen and (min-width: 600px) {

/* Scales about me text to fit */
  .aboutMeItem:nth-of-type(2) {
  width: 95%;
  }

/* Scales the container background image to fit */
  .bg {
  background-size: 10%;
  }
}

/* Sets properites for screens below 800pc */
@media screen and (max-width: 800px) {

  /* Scales about me text to fit */
  .aboutMeItem:nth-of-type(2) {
    width: 80%;
  }

  /* Aligns and set scale for My Work text */
  .page-section p {
    text-align: center;
    width: 95%;
  }

  /* Resizes my name text*/
  .page-title h1 {
    display: grid;
    grid-template-columns: min-content max-content;
    justify-content: center;
  }

  /* Resizes container background image, needs forcing */
  .bg {
    background-size: cover !important;
    background-position: center !important;
  }
}

.page-section p {
  color: #495057;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* This is the spanned background image of my face across the container */
.bg {
  background: url("../images/Bio-Pic.png");
  background-size: 80%;
  background-position: center
}

/* grid the holds the background image and project divs */
.container {
  margin-top: 50px;
  margin: 15px;
  margin-right: 30px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}

/* When a div is hovered over in the container, opacity is set to solid */
.container div:hover {
  background-color: #495057;
  opacity: 1;
}

/* Set the each div in the container, overflow is an issue, needs looking at */
.container div {
  height: 220px;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 25px;
  background-color: #495057;
  opacity: 0.5;
  overflow: visible;
}

/* Sets the first div in the container to span across to columns */
.container div:nth-child(1) {
  grid-column: 1 /3;
}

/* Shows the project class, which shoes the image,scales it by 2 and
centers it for the first div in the container */
.container div:nth-child(1):hover .project {
  position: relative;
  transform: scale(2);
  left: 45%;
  top: 45%;
  opacity: 1;
  z-index: 1;
  transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
  transition-duration: 750ms, 250ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1), linear;
  transition-delay: 0s, 0s;
  transition-property: transform, opacity;
}

/* Sets the tooltip for propeties for div 1
decided to use tooltips as they moved better wehen sized */
.container div:nth-child(1) .project .project-tooltip {
  visibility: hidden;
  width: 100px;
  color: white;
  background-color: #333;
  columns: #fff;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;
  position: relative;
  left: 33%;
  z-index: 2;
}

/* hides the project class*/
.project {
  visibility: hidden;
}

/* Sets the tooltip for propeties for the rest of the divs
decided to use tooltips as they moved better wehen sized */
.container div .project .project-tooltip {
  visibility: hidden;
  width: 100px;
  color: white;
  background-color: #333;
  columns: #fff;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;
  position: relative;
  z-index: 2;
}

/* Shoes the tooltips when the div is hovered over */
.container div .project:hover .project-tooltip {
  visibility: visible;
}

/* Shows the project class, which shoes the image,scales it by 1.2
(criteria 1st app should be larger) and
centers it for the div in the containers */
.container div:hover .project {
  visibility: visible;
  position: relative;
  width: auto;
  height: 220px;
  align-items: center;
  margin: 0 0 0 15px;
  border-radius: 6px;
  transform: scale(1.2);
  left: 30%;
  opacity: 1;
  z-index: 1;
  transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
  transition-duration: 750ms, 250ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1), linear;
  transition-delay: 0s, 0s;
  transition-property: transform, opacity;
}

/* Footer general properties */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2.5em 0;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: var(--fs-h3);
}

footer h2 {
  color: white;
}

/* send email styling */
.send-email {
  color: white;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

/* send email hover styling */
.send-email:hover {
  color: white;
  opacity: 0.5;
}

/* send email tooltip */
.send-email .send-email-tooltip {
  visibility: hidden;
  width: 120px;
  margin: 15px;
  background-color: black;
  columns: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  position: absolute;
}

/* shows send email tooltip */
.send-email:hover .send-email-tooltip {
  visibility: visible;
}

/* social icons class styling */
.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

/* Font awesome styling */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 15%;
}

/* Font awesome hover styling */
.fa:hover {
  opacity: 0.5;
}

/* Font awesome github styling */
.fa-github {
  background-color: #24292f;
  color: white;
}

/* Font awesome twitter styling */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Font awesome linkedin styling */
.fa-linkedin {
  background: #007bb5;
  color: white;
}